@import "tailwindcss";

body,html {
  @apply h-full w-full bg-black;
}

html {
  color: black;

}

@keyframes smooth-pop {
  0% { transform: scale(0); opacity: 0; }
  60% { transform: scale(1.05); }
  80% { transform: scale(0.95); }
  100% { transform: scale(1); opacity: 1; }
}

.animate-smooth-pop {
  animation: smooth-pop 0.4s cubic-bezier(0.4,0,0.2,1) forwards;
}
/* Thêm vào global.css */

::-webkit-scrollbar {
  width: 14px;
}
::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsla(0, 0%, 100%, 0.5);
}
::-webkit-scrollbar-thumb:active {
  background-color: hsla(0, 0%, 100%, 0.7);
}

/* Snap effect tùy chỉnh */
@supports (scroll-snap-type: x mandatory) {
  .snap-x {
    scroll-snap-type: x mandatory;
  }
  .snap-start {
    scroll-snap-align: start;
  }
}